In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

from collections import defaultdict

In [2]:
import sys
reload(sys)
sys.setdefaultencoding("utf-8")

In [103]:
reviews = pd.read_csv('../data/all_reviews.csv',sep='\t',encoding='utf-8', index_col=0)
users = pd.read_csv('../data/all_users.csv',sep='\t',encoding='utf-8', index_col=0)

### Cleaning user information

In [4]:
for i in users.index:
    temp = users.ix[i,'age_sex'].strip().split('/')
    age = '?'
    sex = '?'
    if len(temp)==2:
        age = temp[0]
        sex = temp[1]
    elif temp[0].isdigit():
        age = temp[0]
    else:
        sex = temp[0]
    users.ix[i,'age']=age
    users.ix[i,'sex']=sex

In [5]:
subusers = users.loc[(users.age!='? ')&(users.sex!='?')]
print subusers.shape
subusers.head()

                   age_sex                 join                   place  age sex
0Marcandre         20 / M   Joined Mar 31, 2013                     NaN  20    M
11bowman           21 / M   Joined Jun 19, 2010  Amsterdam, Netherlands  21    M
11sam1234          21 / F   Joined Nov 20, 2008                    alto  21    F
29ActiveDownloads  20 / M   Joined Apr 26, 2011                     NaN  20    M
2minion            20 / F    Joined Aug 2, 2013                     NaN  20    F

### Combining users with review information

In [6]:
mask = [ True if i in subusers.index.tolist() else False for i in reviews.name]
subreviews = reviews.loc[mask]

In [7]:
age = []
sex = []

for i in subreviews.index:
    age.append(int(subusers.ix[subreviews.ix[i,'name'],'age']))
    sex.append(subusers.ix[subreviews.ix[i,'name'],'sex'])
    
subreviews.loc[:,'age']=age
subreviews.loc[:,'sex']=sex

subreviews.head()

  animation                                        anime                                   anime_name character              name    overall                                            reviews    sound    story  age sex
0  \n10/10   to-aru-majutsu-no-index-10th-anniversary-pv  To Aru Majutsu no Index 10th Anniversary PV  \n10/10   SogiitaGunhaGUTS   \n10/10   Well it's a short animation to celebrate Kamac...  \n?/10   \n?/10    15   M
1   \n5/10                                      dokkoida                                   Dokkoida?!   \n6/10      angelsreviews    \n5/10                                                 NaN  \n5/10   \n8/10    26   F
2   \n9/10                                inazuma-eleven                               Inazuma Eleven   \n9/10         xxjacobxx3    \n9/10   first of all: I agree with ﻿﻿﻿﻿luminex's revie...  \n9/10   \n9/10    25   M
4   \n8/10                      brigadoon-marin-to-melan                     Brigadoon Marin to Melan   \n8/10         roriconfan    \n8/10                                                 NaN  \n9/10   \n8/10    34   M
5   \n7/10                      brigadoon-marin-to-melan                     Brigadoon Marin to Melan   \n9/10            KiraRin  \n8.5/10                                                 NaN  \n7/10   \n8/10    33   F

In [8]:
subusers.head()

                   age_sex                 join                   place  age sex
0Marcandre         20 / M   Joined Mar 31, 2013                     NaN  20    M
11bowman           21 / M   Joined Jun 19, 2010  Amsterdam, Netherlands  21    M
11sam1234          21 / F   Joined Nov 20, 2008                    alto  21    F
29ActiveDownloads  20 / M   Joined Apr 26, 2011                     NaN  20    M
2minion            20 / F    Joined Aug 2, 2013                     NaN  20    F

In [9]:
mean_age = subreviews.age.mean()

age = []
sex = []

final = reviews.copy()

for i in final.index:
    name = final.ix[i,'name']
    if name in subusers.index:
        age.append(int(subusers.ix[name,'age']))
        sex.append(subusers.ix[name,'sex'])
    else:
        age.append(mean_age)
        ran = np.random.random_integers(0,high=1)
        if ran==1:
            sex.append('M')
        else:
            sex.append('F')
        
    
final.loc[:,'age']=age
final.loc[:,'sex']=sex

final.head()

  animation                                        anime                                   anime_name character              name   overall                                            reviews    sound    story       age sex
0  \n10/10   to-aru-majutsu-no-index-10th-anniversary-pv  To Aru Majutsu no Index 10th Anniversary PV  \n10/10   SogiitaGunhaGUTS  \n10/10   Well it's a short animation to celebrate Kamac...  \n?/10   \n?/10   15.00000   M
1   \n5/10                                      dokkoida                                   Dokkoida?!   \n6/10      angelsreviews   \n5/10                                                 NaN  \n5/10   \n8/10   26.00000   F
2   \n9/10                                inazuma-eleven                               Inazuma Eleven   \n9/10         xxjacobxx3   \n9/10   first of all: I agree with ﻿﻿﻿﻿luminex's revie...  \n9/10   \n9/10   25.00000   M
3   \n8/10                                inazuma-eleven                               Inazuma Eleven   \n6/10           Lumineux   \n7/10                                            Story: 6  \n8/10   \n6/10   25.23511   F
4   \n8/10                      brigadoon-marin-to-melan                     Brigadoon Marin to Melan   \n8/10         roriconfan   \n8/10                                                 NaN  \n9/10   \n8/10   34.00000   M

In [36]:
for i,val in enumerate(final.anime_name):
    if val == 'Beyblade: G Revolution':
        final.ix[i,'anime_name']='Beyblade G Revolution'
    if val == 'Beyblade: V-Force':
        final.ix[i,'anime_name']='Beyblade V-Force'
    if val == 'Beyblade: The Movie':
        final.ix[i,'anime_name']='Beyblade - The Movie'

### Adding in more features

In [10]:
data=pd.read_csv("../data/anime_info.csv",sep='\t', index_col=0)
anime_name = pd.read_csv('../data/anime_name.csv',sep='\t',encoding='utf-8', index_col=0)
data.head()

                                       altname                             atype                                         categories date  date_pub                                        description                                    name                       rank                       rating                                            related         studio
(Making of) Evangelion: Another Impact     NaN  \n        Web (1 ep x 6 min)      [Sci Fi, CG Animation, Japan Animator's Exhibi...  NaN      2015  This episode is a making film of #12 "evangeli...  (Making of) Evangelion: Another Impact  \n       Rank #5,996         1.743 of 5 from 153 votes  [Neon Genesis Evangelion, Neon Genesis Evangel...   Studio Khara
+A-Channel                                 NaN   \nDVD Special (11 eps x 2 min)           [Comedy, Slice of Life, Based on a Manga]  NaN      2011  There are many untold stories in the lives of ...                              +A-Channel  \n       Rank #2,398       3.334 of 5 from 1,192 votes                     [A-Channel, A-Channel + smile]  Studio Gokumi
.hack//G.U. Returner                       NaN                     \nOVA (1 ep)                      [MMORPG, RPG, Virtual Reality]  NaN      2007  "There is something I wish to entrust to you; ...                    .hack//G.U. Returner  \n       Rank #2,504       3.291 of 5 from 2,021 votes  [.hack//SIGN, .hack//LIMINALITY, .hack//Legend...            NaN
.hack//G.U. Trilogy                        NaN          \nMovie (1 ep x 93 min)        [CG Animation, MMORPG, RPG, Virtual Reality]  NaN      2008  The World is an ordinary online game – or at l...                     .hack//G.U. Trilogy  \n       Rank #1,576       3.671 of 5 from 2,814 votes  [.hack//SIGN, .hack//LIMINALITY, .hack//Legend...            NaN
.hack//G.U. Trilogy Parody                 NaN     \nDVD Special (1 ep x 6 min)              [Comedy, MMORPG, RPG, Virtual Reality]  NaN      2008                                                NaN              .hack//G.U. Trilogy Parody  \n       Rank #3,993         2.691 of 5 from 714 votes  [.hack//SIGN, .hack//LIMINALITY, .hack//Legend...            NaN

In [ ]:
names = []
for i in data.index:
    names.append(i.encode('ascii', 'ignore'))
data.index=names

In [11]:
# checking how many unique categories
genres = data.categories.tolist()

temp = []
for i in genres:
    if type(i)==str:
        temp+=i.replace('[','').replace(']','').replace(' ','').split(',')
uniq_genres = list(set(temp))
len(uniq_genres)

233

In [12]:
# changing categories from string to list
temp = []
genres = data.categories.tolist()
for i in genres:
    if type(i)==str:
        temp.append(i.replace('[','').replace(']','').replace(' ','').split(','))
    else:
        temp.append([])
data.loc[:,'categories_list'] = temp

In [37]:
# finding categories
categories = defaultdict(list)
for i in final.anime_name:
    cat = data.loc[i.encode('ascii', 'ignore'),'categories_list']
    for j in cat:
        categories[j].append(1)
    for k in uniq_genres:
        if k not in cat:
            categories[k].append(0)
            
# add categories to final
for i in categories:
    final.loc[:,i] = categories[i]

In [76]:
per = final.shape[0]*0.005
print (final.ix[:,11:].sum(axis=0)>per).sum()
mask = (final.ix[:,11:].sum(axis=0)>per)

In [81]:
for i in final.columns[11:]:
    check = mask[i]
    if not check:
        final.drop(i,axis=1,inplace=True)

In [84]:
final.to_csv('../data/final_review.csv')

### Data

In [102]:
column_names = ['animation','character','overall','sound','sound','story']
for i in column_names:
    temp = []
    for j in final.loc[:,i].tolist():
        
        temp.append(int(j[1:][:-4]))

ValueError: invalid literal for int() with base 10: '?'

In [101]:
int(temp[0][1:][:-4])

10